@import './css/animate.scss';

.m-message {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999;
  width: 100%;
  box-sizing: border-box;
}

.m-message__content-box {
  opacity: 0;
  transition: opacity .25s;
  min-width: 100px;
  max-width: 50%;
  padding: 4px 15px;
  border-radius: 4px;
  text-align: center;
  word-break: break-all;
  color: white;
  background: rgba(0, 0, 0, .75);

  &:not(:first-of-type) {
    margin-top: 10px;
  }

}

// layout
.l-center {
  top: 50% !important;
  transform: translateY(-50%);
}

// is
.is-fade-in {
  transition: all 0.8s;
  opacity: 1;
}

.is-fade-out {
  transition: all 0.8s;
  margin-top: -30px; 
  opacity: 0;
}
